*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{

    min-height: 100vh;
    background-color: rgb(221, 221, 221);

}

header{
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%; 
    /* height: 731px; */
    height: 755px;
    
    background: url(wallpapers/header.jpg) no-repeat center center fixed;
    background-size: cover;
}

@media only screen and (min-width: 1086px) and (max-width: 1920px){
  
    .title{
        font-style: oblique;
        font-size: 100px;
        color: rgb(255, 255, 255);
        margin-left: auto;
        margin-right: auto;
        text-align: center;   
    }
   
}

@media only screen and (min-width: 370px) and (max-width: 1086px){
    .title{
        font-style: oblique;
        font-size: 100px;
        color: rgb(255, 255, 255);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .square1{
        width: 350px !important;
        height: 80px !important;
    }
    span{
        font-size: 26px !important;
        width: 19.2ch !important;
        margin: 20px auto !important;
    }
    .square2{
        width: 350px !important;
        height: 560px !important;
    }
    .imgVader{
        width: 325px !important;
        height: 300px !important;
        margin: 15px !important;
    }
    .btn.about{
        width: 200px !important; 
        margin: 20px 70px !important;
    }
    .btn.contactEmail{
        width: 200px !important; 
        margin: 70px 70px !important;
    }
    .btn.otherContacts{
        width: 200px !important; 
        margin: 120px 70px !important;
    }
    .textBox{
        width: 90% !important;
    }
    .iconMark{
        /* height: 55px;
        width: 55px;
        position: relative; */
        right: -230px !important;
        top: -185px !important;
    }
}

.nav{
    height: 50px; 
    width: 100%; 
    background: #1b1b1b; 
    color: white; 

    position: relative;
    z-index: 10;

    display: flex !important;
    /* top: 0;  */

    padding: 15px 20px !important;
    justify-content: space-evenly;
    list-style: none;
    /* cursor: pointer; */
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    /* padding-bottom: 80px;
    position: relative !important; */
}

/* ul{
    display: flex !important;

    padding: 15px 20px;
    justify-content: space-evenly;
    list-style: none;
} */

.fixed{
    position: fixed; 
    top: 0;
}

a{
    color: white; 
    text-decoration: none;

    cursor: pointer;
}

.card {
    position: relative;
    width: 400px;
    height: 200px;
    margin: 20px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
    position: static;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(51, 51, 51, 0.61);
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: url(wallpapers/fondoBlanco.webp);
    padding: 35px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    box-shadow: 0 5px 10px #000;
}

.card .back h3{
    text-align: center;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.card .back .link, .link{
    text-align: center;
    color: #146eff;
    text-decoration: 3px underline !important;
}

footer{
    background-color: #1b1b1b;
    /* border: 3px solid #fff; */
    color: #fff;
    padding: 48px 24px;
    position: relative;
    /* margin-top: 40px; */

    /***************/
    /* color: white;
    background-color: #1A1A1A;
    width: 100%;
    height: 81px;
    position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
}

/* .page-footer .content-container{
    margin: 0 auto;
    max-width: 1400px;
} */

.textBox{
    width: 95%;
    font-size: 17px;
    margin: 10px;
}

/* .swal2-close:focus{
    width: 450px !important;este era del swal-wide
    box-shadow: none !important;
} */

.btn{
    color: white;
    width: 100px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.send{
    border: 3px solid #b1b1b1;
    background-color: #655CC9;
}

.btn.cancel{
    border: 3px solid #b1b1b1;
    background-color: #808080;
    text-align: center;
}

.btn.init{
    background-color: #655CC9;
    color: white;
    text-decoration: none;
    padding: 15px 32px;
}

.btn:active{
    transform: scale(.9);
    border: 2px solid #4F4F4F;
}

.btn:hover{
    transform: scale(.95);
    border: 2px solid #4F4F4F;
}

.greeting{
    display: block;
    background-color: #1b1b1b;
    padding: 20px 100px;
    position: static;
    margin: 20px;
}

.square1{

    border: 5px outset #fff;
    background-color: #1b1b1b;

    width: 1000px;
    height: 80px;
    margin: 20px auto;
    
}

span{
    display: flex;
    font-family: monospace;
    font-size: 50px;
    white-space: nowrap;
    border-right: 4px solid;
    width: 19ch;
    color: #fff;

    margin: 1px auto;

    animation: typing 2s steps(19), blink .5s infinite step-end alternate; 
    overflow: hidden;
}

@keyframes typing{
    from{ width: 0 }
}

@keyframes blink{
    50% { border-color: transparent; }
}

.square2{
    border: 5px outset #fff;
    background-color: #1b1b1b;
    width: 1000px;
    height: 540px;
    margin: 20px auto;
    
}

.imgVader{
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 10px;
}

.btn.about{
    background-color: #0145B2;
    font-family: monospace;
    width: 350px;
    border-radius: 0px;
    /* padding: 10px 20px;        */
    /* padding: 15px 50px !important; */
    /* margin: 100px 20px; */
    position: absolute;
    margin: 20px 50px;
    /* right: 500px; */
}

.btn.contactEmail{
    background-color: #0145B2;
    font-family: monospace;
    width: 350px;
    border-radius: 0px;
    /* padding: 10px 20px;        */
    /* padding: 15px 50px !important; */
    /* margin: 100px 20px; */
    position: absolute;
    margin: 70px 50px;
    /* right: 500px; */
}

.btn.otherContacts{
    background-color: #0145B2;
    font-family: monospace;
    width: 350px;
    /* padding: 10px 20px;       */
    border-radius: 0px;
    /* padding: 15px 50px !important; */
    /* margin: 100px 20px; */
    position: absolute;
    margin: 120px 50px;
    /* right: 500px; */

    text-decoration: none;
    text-align: center;

    /*background: url(wallpapers/header.jpg) no-repeat center center fixed;
    background-size: cover; */
}

.btn.about:hover, .btn.contactEmail:hover, .btn.otherContacts:hover
{
    /*****Neon affect*****/
    box-shadow: 0 2px 20px 0 #0145B2 inset, 0 2px 20px 0 #0145B2,
                0 2px 20px 0 #0145B2 inset, 0 2px 20px 0 #0145B2;
}

.imgContact{
    /* width: auto; */
    height: 200px;
}

.imgsOtherContacts{
    /* width: auto; */
    color: #1b1b1b !important;
    height: 100px;
    margin: 15px;
}

.info{
    display: block;
    background-color: #1b1b1b;
    padding: 70px 150px;
    position: auto;
}

.iconMark{
    height: 55px;
    width: 55px;
    position: relative;
    right: -295px;
    top: -180px;
}